<mat-card>
  <mat-card-header>
    <mat-card-title>Candidate 1</mat-card-title>
    <mat-card-subtitle>Democrat</mat-card-subtitle>
  </mat-card-header>
  <img src="https://c-8oqtgrjgwu46x24itcrjkeux2eejkeciqvtkdwpgx2eeqo.g00.chicagotribune.com/g00/3_c-8yyy.ejkeciqvtkdwpg.eqo_/c-8OQTGRJGWU46x24jvvrux3ax2fx2fitcrjkeu.ejkeciqvtkdwpg.eqox2fejkeciq-ocaqt-rqvgpvkcn-ecpfkfcvgux2fkoix2fdqd_hkqtgvvk.lrix3fk32e.octmx3dkocig_$/$/$/$" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The former two-term alderman unsuccessfully challenged Mayor Rahm Emanuel in 2015 and staged a long-shot bid to unseat Cook County Board President Toni Preckwinkle earlier this year. Fioretti was born and raised in Chicago and attended Mendel High School. He has a political science degree from the University of Illinois and a law degree from Northern Illinois University. He is a civil rights lawyer.
    </p>
  </mat-card-content>
</mat-card>
